<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gameframe.demos" android:versionName="1.4" android:installLocation="preferExternal" android:versionCode="5">
	<uses-sdk />
	<application android:label="Ninja Adventure"></application>
</manifest>