<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="44228GreenCheeseGames.Ninja-Adventure" Publisher="CN=480BABDB-62FE-4353-AFCC-AA2CC461F199" Version="1.1.5.0" />
  <mp:PhoneIdentity PhoneProductId="f13aebb8-7290-4e1f-82f4-49228c5c05e8" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Ninja-Adventure</DisplayName>
    <PublisherDisplayName>Green Cheese Games</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Demos.UWP.App">
      <uap:VisualElements DisplayName="Ninja-Adventure" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Short game based of GameFrame, Assets courtesy of Nez" BackgroundColor="#ffffff">
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Splash.png" BackgroundColor="#ffffff" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>